Sistemas_de_Big_Data/CouchDB/2023-12-05 Node-RED Avanzado/Join_Advanced.json
[
    {
        "id": "5a4cacc26f7c423f",
        "type": "tab",
        "label": "Join exercise",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b0d0bf45.3b9c6",
        "type": "change",
        "z": "5a4cacc26f7c423f",
        "name": "parts.index = 1",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "66ee9fcf.ec9cc"
            ]
        ]
    },
    {
        "id": "d1af64ea.236868",
        "type": "join",
        "z": "5a4cacc26f7c423f",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 240,
        "wires": [
            [
                "f148be71.f09278"
            ]
        ]
    },
    {
        "id": "6ec1c3ab.008bd4",
        "type": "change",
        "z": "5a4cacc26f7c423f",
        "name": "parts.index = 0",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "66ee9fcf.ec9cc"
            ]
        ]
    },
    {
        "id": "a39825e3.e01b9",
        "type": "change",
        "z": "5a4cacc26f7c423f",
        "name": "parts.index = 2",
        "rules": [
            {
                "t": "set",
                "p": "parts.index",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "66ee9fcf.ec9cc"
            ]
        ]
    },
    {
        "id": "f148be71.f09278",
        "type": "debug",
        "z": "5a4cacc26f7c423f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "66ee9fcf.ec9cc",
        "type": "change",
        "z": "5a4cacc26f7c423f",
        "name": "group id and count",
        "rules": [
            {
                "t": "set",
                "p": "parts.id",
                "pt": "msg",
                "to": "mygroup",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "parts.count",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "d1af64ea.236868"
            ]
        ]
    },
    {
        "id": "2e221b1.51df8e4",
        "type": "inject",
        "z": "5a4cacc26f7c423f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Jose",
        "payloadType": "str",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "6ec1c3ab.008bd4"
            ]
        ]
    },
    {
        "id": "10bd8f79.53bee9",
        "type": "inject",
        "z": "5a4cacc26f7c423f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hugo",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "6ec1c3ab.008bd4"
            ]
        ]
    },
    {
        "id": "1e097073.0d1fb",
        "type": "inject",
        "z": "5a4cacc26f7c423f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "likes",
        "payloadType": "str",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "b0d0bf45.3b9c6"
            ]
        ]
    },
    {
        "id": "f4198579.6348b8",
        "type": "inject",
        "z": "5a4cacc26f7c423f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hates",
        "payloadType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "b0d0bf45.3b9c6"
            ]
        ]
    },
    {
        "id": "8e0e22e9.cfa61",
        "type": "inject",
        "z": "5a4cacc26f7c423f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Summer",
        "payloadType": "str",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "a39825e3.e01b9"
            ]
        ]
    },
    {
        "id": "93dfd24.5cc25b",
        "type": "inject",
        "z": "5a4cacc26f7c423f",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Winter",
        "payloadType": "str",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "a39825e3.e01b9"
            ]
        ]
    }
]