Sistemas_de_Big_Data/CouchDB/2023-11-07/7.- More template example.json
[
    {
        "id": "e3e212049d38b568",
        "type": "tab",
        "label": "More template examples",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1e9694446b33d301",
        "type": "group",
        "z": "e3e212049d38b568",
        "name": "Obtain Login Form",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "0862dd82b02def0e",
            "707f073acfefb94f",
            "bc02e472943b5cc0",
            "838b39c6622b8a72",
            "752b0992a64871ca",
            "22b85692703f1f7c"
        ],
        "x": 14,
        "y": 39,
        "w": 652,
        "h": 162
    },
    {
        "id": "1408aba70c56b46d",
        "type": "group",
        "z": "e3e212049d38b568",
        "name": "Submit Login",
        "style": {
            "fill": "#7fb7df",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "310e70d601048d33",
            "99423a87f15d87a7",
            "0f20cfc00796a252",
            "11704e04505ab7e7",
            "b3d8564b99297723"
        ],
        "x": 14,
        "y": 239,
        "w": 832,
        "h": 142
    },
    {
        "id": "eb2ff452506b2304",
        "type": "group",
        "z": "e3e212049d38b568",
        "name": "New User Login Form",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "a6ebf09dc394a409",
            "b5efe80169e0969d",
            "3c0c1d7149abb63d",
            "1970f6c2593cc41c",
            "c808011f548db40c"
        ],
        "x": 14,
        "y": 419,
        "w": 852,
        "h": 82
    },
    {
        "id": "997151586b123a28",
        "type": "group",
        "z": "e3e212049d38b568",
        "name": "Use of template node",
        "style": {
            "fill": "#c8e7a7",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "f9167c1414e7c97e",
            "3057812139f4a3aa",
            "7aced5cee04b4c96",
            "18fb0b6d7c1207e3",
            "6da30c795a17acf5",
            "f5d5e648b3b9894b"
        ],
        "x": 14,
        "y": 559,
        "w": 932,
        "h": 82
    },
    {
        "id": "0862dd82b02def0e",
        "type": "http in",
        "z": "e3e212049d38b568",
        "g": "1e9694446b33d301",
        "name": "",
        "url": "/loginForm",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "707f073acfefb94f"
            ]
        ]
    },
    {
        "id": "310e70d601048d33",
        "type": "http in",
        "z": "e3e212049d38b568",
        "g": "1408aba70c56b46d",
        "name": "",
        "url": "/submitLogin",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "99423a87f15d87a7",
                "b3d8564b99297723"
            ]
        ]
    },
    {
        "id": "707f073acfefb94f",
        "type": "function",
        "z": "e3e212049d38b568",
        "g": "1e9694446b33d301",
        "name": "msg.url = \"submitLogin\";",
        "func": "msg.url = \"submitLogin\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [
            [
                "838b39c6622b8a72"
            ]
        ]
    },
    {
        "id": "99423a87f15d87a7",
        "type": "debug",
        "z": "e3e212049d38b568",
        "g": "1408aba70c56b46d",
        "name": "submitLogin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f20cfc00796a252",
        "type": "http response",
        "z": "e3e212049d38b568",
        "g": "1408aba70c56b46d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "bc02e472943b5cc0",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "1e9694446b33d301",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: rgb(240, 242, 245);\n    overflow: 'hidden';\n    position: 'absolute';\n    padding: 20px;\n}",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "22b85692703f1f7c"
            ]
        ]
    },
    {
        "id": "838b39c6622b8a72",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "1e9694446b33d301",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "plain",
        "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        \n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });\n        \n        $(\"input:checkbox\").on('click', function() {\n            // in the handler, 'this' refers to the box clicked on\n            var $box = $(this);\n            if ($box.is(\":checked\")) {\n                // the name of the box is retrieved using the .attr() method\n                // as it is assumed and expected to be immutable\n                var group = \"input:checkbox[name='\" + $box.attr(\"name\") + \"']\";\n                // the checked state of the group/box on the other hand will change\n                // and the current value is retrieved using .prop() method\n                $(group).prop(\"checked\", false);\n                $box.prop(\"checked\", true);\n            } else {\n                $box.prop(\"checked\", false);\n            }\n        });\n        \n    });\n    \n});",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "bc02e472943b5cc0"
            ]
        ]
    },
    {
        "id": "752b0992a64871ca",
        "type": "http response",
        "z": "e3e212049d38b568",
        "g": "1e9694446b33d301",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "22b85692703f1f7c",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "1e9694446b33d301",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>Login Form</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <!--<h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>-->\n    <!--<h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>-->\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"spain\">Spain</option>\n      <option value=\"usa\">USA</option>\n    </select>\n    \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "752b0992a64871ca"
            ]
        ]
    },
    {
        "id": "11704e04505ab7e7",
        "type": "function",
        "z": "e3e212049d38b568",
        "g": "1408aba70c56b46d",
        "name": "return msg.payload to client",
        "func": "msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "0f20cfc00796a252"
            ]
        ]
    },
    {
        "id": "b3d8564b99297723",
        "type": "json",
        "z": "e3e212049d38b568",
        "g": "1408aba70c56b46d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "11704e04505ab7e7"
            ]
        ]
    },
    {
        "id": "a6ebf09dc394a409",
        "type": "http in",
        "z": "e3e212049d38b568",
        "g": "eb2ff452506b2304",
        "name": "",
        "url": "/login/newUser",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "3c0c1d7149abb63d"
            ]
        ]
    },
    {
        "id": "b5efe80169e0969d",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "eb2ff452506b2304",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=email], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 50%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv form {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}\n\n.adminform {\n    width: 90%;\n}\n",
        "x": 490,
        "y": 460,
        "wires": [
            [
                "c808011f548db40c"
            ]
        ]
    },
    {
        "id": "3c0c1d7149abb63d",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "eb2ff452506b2304",
        "name": "JavaScript",
        "field": "payload.script",
        "fieldType": "msg",
        "format": "javascript",
        "syntax": "mustache",
        "template": "\n$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        var orgId = $(\"#orgs\").val();\n        \n        $(\"#loadingimg\").show();\n        \n    });\n    \n});",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "b5efe80169e0969d"
            ]
        ]
    },
    {
        "id": "1970f6c2593cc41c",
        "type": "http response",
        "z": "e3e212049d38b568",
        "g": "eb2ff452506b2304",
        "name": "",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "c808011f548db40c",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "eb2ff452506b2304",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>Create User</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <!--\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    -->\n    <script\n      src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n      integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n      crossorigin=\"anonymous\"></script>\n      \n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">  \n    <script>{{{payload.jquery}}}</script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n<div class=\"container\">\n    <h2>Create a new user</h2>\n\n<div class=\"col-md-6\">\n<div class=\"adminform\">\n  <form id=\"createadmin\" method=\"post\" action=\"{{url}}\" ajax=\"true\">\n    <select id=\"orgs\" name=\"orgs\">\n        <option>Select Organization..</option>\n    </select>\n    <label>Contact Details</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\" placeholder=\"First Name\" required=true/>\n    <input type=\"text\" id=\"lname\" name=\"lastname\" placeholder=\"Last Name\" required=true/>\n    <input type=\"email\" id=\"email\" name=\"email\" placeholder=\"E-mail\" required=true/>\n    <br>\n\n    <label>Organization Permissions</label>\n    <select id=\"orgAccess\" name=\"orgAccess\" placeholder=\"Org Access\">\n      <option value=\"full\">full</option>\n      <option value=\"read-only\">read-only</option>\n    </select>\n    \n  \n    <input type=\"submit\" class=\"button\" value=\"Submit\">\n  </form>\n</div>\n</div>\n\n<div class=\"col-md-6\">\n    <span id=\"result\"></span>\n</div>\n</div>\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "1970f6c2593cc41c"
            ]
        ]
    },
    {
        "id": "f9167c1414e7c97e",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "997151586b123a28",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<head>\n    <style>\n        {{{payload.style}}}\n    </style>\n</head>\n\n\n<table width=\"100%\">\n  <tr>\n    <th>Country</th>\n    <th>Capital</th> \n  </tr>\n  {{#payload}}\n  <tr>\n    <td>{{{country}}}</td>\n    <td>{{capital}}</td> \n  </tr>\n  {{/payload}}\n</table>",
        "x": 730,
        "y": 600,
        "wires": [
            [
                "3057812139f4a3aa"
            ]
        ]
    },
    {
        "id": "3057812139f4a3aa",
        "type": "http response",
        "z": "e3e212049d38b568",
        "g": "997151586b123a28",
        "name": "",
        "x": 870,
        "y": 600,
        "wires": []
    },
    {
        "id": "7aced5cee04b4c96",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "997151586b123a28",
        "name": "css",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */",
        "x": 570,
        "y": 600,
        "wires": [
            [
                "f9167c1414e7c97e"
            ]
        ]
    },
    {
        "id": "18fb0b6d7c1207e3",
        "type": "template",
        "z": "e3e212049d38b568",
        "g": "997151586b123a28",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    {\"country\": \"Spain\", \"capital\": \"Madrid\"},\n    {\"country\": \"Italy\", \"capital\": \"Rome\"},\n    {\"country\": \"France\", \"capital\": \"Paris\"},\n    {\"country\": \"Germany\", \"capital\": \"Berlin\"}\n]\n    ",
        "x": 270,
        "y": 600,
        "wires": [
            [
                "6da30c795a17acf5"
            ]
        ]
    },
    {
        "id": "6da30c795a17acf5",
        "type": "json",
        "z": "e3e212049d38b568",
        "g": "997151586b123a28",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "7aced5cee04b4c96"
            ]
        ]
    },
    {
        "id": "f5d5e648b3b9894b",
        "type": "http in",
        "z": "e3e212049d38b568",
        "g": "997151586b123a28",
        "name": "",
        "url": "/table",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "18fb0b6d7c1207e3"
            ]
        ]
    }
]