Sistemas_de_Big_Data/NodeRed/Chart_several_lines/6.- ISS people.json
[
    {
        "id": "76a48e716c5a2dd3",
        "type": "tab",
        "label": "ISS people",
        "disabled": false,
        "info": ""
    },
    {
        "id": "187f690d.298da7",
        "type": "inject",
        "z": "76a48e716c5a2dd3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "7ad821b5.a71f7"
            ]
        ]
    },
    {
        "id": "7ad821b5.a71f7",
        "type": "http request",
        "z": "76a48e716c5a2dd3",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.open-notify.org/astros.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "62f39dcd.e8e31c",
                "4fcf61155f785c88"
            ]
        ]
    },
    {
        "id": "2a5e3f97.a49d1",
        "type": "debug",
        "z": "76a48e716c5a2dd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "8e371756.3d8ed",
        "type": "ui_button",
        "z": "76a48e716c5a2dd3",
        "name": "",
        "group": "4427621b.554264",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update Crew",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "7ad821b5.a71f7"
            ]
        ]
    },
    {
        "id": "62f39dcd.e8e31c",
        "type": "function",
        "z": "76a48e716c5a2dd3",
        "name": "Get crew array",
        "func": "msg.payload = msg.payload.people;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "2a5e3f97.a49d1",
                "76941817.419ab8",
                "c7c3d094.1535d8"
            ]
        ]
    },
    {
        "id": "d823f423.3215c",
        "type": "ui_audio",
        "z": "76a48e716c5a2dd3",
        "name": "",
        "group": "4427621b.554264",
        "voice": "com.apple.speech.synthesis.voice.samantha",
        "always": "",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "c7c3d094.1535d8",
        "type": "function",
        "z": "76a48e716c5a2dd3",
        "name": "",
        "func": "var newmsg = {}\nnewmsg.payload = \"Current crew on the International Space Station is\";\nnode.send(newmsg);\nfor (var i = 0; i < msg.payload.length; i++)\n{\n    \n    var name = msg.payload[i].name;\n    newmsg.payload = name;\n    \n    node.send(newmsg);\n    \n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "d823f423.3215c"
            ]
        ]
    },
    {
        "id": "76941817.419ab8",
        "type": "ui_table",
        "z": "76a48e716c5a2dd3",
        "group": "4427621b.554264",
        "name": "Crew",
        "order": 1,
        "width": "6",
        "height": "6",
        "columns": [
            {
                "field": "name",
                "title": "Name",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "4fcf61155f785c88",
        "type": "debug",
        "z": "76a48e716c5a2dd3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "4427621b.554264",
        "type": "ui_group",
        "name": "Crew",
        "tab": "45cc2e71.6dff4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "45cc2e71.6dff4",
        "type": "ui_tab",
        "name": "Crew",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]