Sistemas_de_Big_Data/CouchDB/2023-11-28/1_Dashboard_controles_basicos.json
[
    {
        "id": "fb325e4986484db8",
        "type": "tab",
        "label": "Controles node-red-dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7e34fa6c2129314",
        "type": "ui_button",
        "z": "fb325e4986484db8",
        "name": "Boton",
        "group": "7f4a446448685c06",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Boton",
        "tooltip": "Button Tooltip",
        "color": "#fffff",
        "bgcolor": "",
        "className": "",
        "icon": "fa-star",
        "payload": "true",
        "payloadType": "bool",
        "topic": "Button",
        "topicType": "str",
        "x": 70,
        "y": 500,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "e38d6b00d9d04275",
        "type": "ui_dropdown",
        "z": "fb325e4986484db8",
        "name": "Lista de opciones",
        "label": "Elija una opción",
        "tooltip": "",
        "place": "",
        "group": "65fb2aae96c142f2",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Opción 1 : string",
                "value": "Texto",
                "type": "str"
            },
            {
                "label": "Opción 2 : integer",
                "value": 4,
                "type": "num"
            },
            {
                "label": "Opción 3 : bool",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "Lista de opciones",
        "topicType": "str",
        "className": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "c47ed5f897c8fbb4",
        "type": "debug",
        "z": "fb325e4986484db8",
        "name": "Dashboard Log",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "2482118527f7fde9",
        "type": "ui_switch",
        "z": "fb325e4986484db8",
        "name": "Interruptor",
        "label": "Switch",
        "tooltip": "",
        "group": "2f910dae7b696f3b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Interruptor",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "5883bf052bcad5de",
        "type": "ui_numeric",
        "z": "fb325e4986484db8",
        "name": "",
        "label": "Numeric",
        "tooltip": "",
        "group": "97dd0d638fc627b0",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "Numero",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": "",
        "className": "",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "1942347733cffe7a",
        "type": "ui_text_input",
        "z": "fb325e4986484db8",
        "name": "",
        "label": "Campo de entrada de Texto",
        "tooltip": "",
        "group": "d5f975c5b0ad79a3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "Campo de entrada de Texto",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "f55c8389379518e1",
        "type": "ui_form",
        "z": "fb325e4986484db8",
        "name": "",
        "label": "Un formulario de node-RED",
        "group": "ff281999b143d165",
        "order": 9,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Texto",
                "value": "Texto",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Número",
                "value": "Número",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Un email",
                "value": "email",
                "type": "email",
                "required": false,
                "rows": null
            },
            {
                "label": "Contraseña",
                "value": "Contraseña",
                "type": "password",
                "required": false,
                "rows": null
            },
            {
                "label": "Casilla de verificación",
                "value": "Casilla de verificación",
                "type": "checkbox",
                "required": false,
                "rows": null
            },
            {
                "label": "Un interruptor",
                "value": "Un interruptor",
                "type": "switch",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Texto": "",
            "Número": "",
            "email": "",
            "Contraseña": "",
            "Casilla de verificación": false,
            "Un interruptor": false
        },
        "payload": "",
        "submit": "",
        "cancel": "",
        "topic": "Formulario",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "c139b3b7a230ce63",
        "type": "function",
        "z": "fb325e4986484db8",
        "name": "Registro de eventos",
        "func": "// Crea una variable para almacenar el estado del dashboard. Por si no existe\n//Inicializo el contador a 0\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    node.warn(dashboardLog.length)\n    dashboardLog.shift();\n    node.warn(dashboardLog.length)\n    dashboardLog.length = 20;\n} \n\ncontext.set('dashboardLog',dashboardLog);\n\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "c47ed5f897c8fbb4"
            ]
        ]
    },
    {
        "id": "d054e8c734a74b79",
        "type": "ui_text_input",
        "z": "fb325e4986484db8",
        "name": "",
        "label": "Campo de entrada de email",
        "tooltip": "",
        "group": "a8202e6f91503c4e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "Campo de entrada de email",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "d807eceffecf3ad1",
        "type": "ui_text_input",
        "z": "fb325e4986484db8",
        "name": "",
        "label": "Campo entrada de contraseña",
        "tooltip": "",
        "group": "47ae816e1707f22d",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "Campo entrada de contraseña",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "d2a7255abce709fa",
        "type": "ui_text_input",
        "z": "fb325e4986484db8",
        "name": "",
        "label": "Selector de color",
        "tooltip": "",
        "group": "6655671ce2562aad",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "color",
        "delay": 300,
        "topic": "Selector de color",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "099ff954140e52b6",
        "type": "ui_slider",
        "z": "fb325e4986484db8",
        "name": "Slider",
        "label": "Slider",
        "tooltip": "",
        "group": "5fcdf878754ad035",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Slider",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "c139b3b7a230ce63"
            ]
        ]
    },
    {
        "id": "d3e10f20b25b47eb",
        "type": "ui_spacer",
        "z": "fb325e4986484db8",
        "name": "spacer",
        "group": "c3c48bca1f6bbce4",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f4a446448685c06",
        "type": "ui_group",
        "name": "Button",
        "tab": "e4eefd3a6bb90ad6",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65fb2aae96c142f2",
        "type": "ui_group",
        "name": "Options List",
        "tab": "e4eefd3a6bb90ad6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f910dae7b696f3b",
        "type": "ui_group",
        "name": "Switch",
        "tab": "e4eefd3a6bb90ad6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "97dd0d638fc627b0",
        "type": "ui_group",
        "name": "Numeric control",
        "tab": "e4eefd3a6bb90ad6",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5f975c5b0ad79a3",
        "type": "ui_group",
        "name": "Text Input control",
        "tab": "e4eefd3a6bb90ad6",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ff281999b143d165",
        "type": "ui_group",
        "name": "Form control",
        "tab": "e4eefd3a6bb90ad6",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8202e6f91503c4e",
        "type": "ui_group",
        "name": "Email Address",
        "tab": "e4eefd3a6bb90ad6",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47ae816e1707f22d",
        "type": "ui_group",
        "name": "Password control",
        "tab": "e4eefd3a6bb90ad6",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6655671ce2562aad",
        "type": "ui_group",
        "name": "Colour selector",
        "tab": "e4eefd3a6bb90ad6",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5fcdf878754ad035",
        "type": "ui_group",
        "name": "Slider",
        "tab": "e4eefd3a6bb90ad6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e4eefd3a6bb90ad6",
        "type": "ui_tab",
        "name": "Basic Form",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]